    .thumbnail {
      width: 100%;
    }
    .video-title {
      font-weight: bold;
      font-size: 14px;
      line-height: 20px;
      margin-bottom: 12px;
    }
    .video-author {
      color: rgb(96, 96, 96);
      font-size: 12px;
      margin-bottom: 6px;
    }
    .video-stats {
      color: rgb(96, 96, 96);
      font-size: 12px;
    }
    .video-info-grid {
      display: grid;
      grid-template-columns: 50px 1fr;
    }
    .profile-pic {
      border-radius: 25px;
      width: 36px;
    }
    .thumbnail-row {
      margin-bottom: 8px;
      position: relative;
    }
    .video-grid{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      column-gap: 16px;
      row-gap: 40px;
    }
    @media (max-width: 750px){
      .video-grid {
        grid-template-columns: 1fr 1fr;
      }
    }
    .video-time {
      background-color: black;
      color: white;
      position: absolute;
      right: 5px;
      bottom: 8px;
      font-size: 12px;
      padding-right: 4px;
      padding-left: 4px;
      padding-top: 4px;
      padding-bottom: 4px;
      border-radius: 2px;
    }